<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>CHANGE PASSWORD</center></h1>
    {% if messages %}
    {% for message in messages %}
    <div>{{message}}</div>
    {% endfor %}
    {% endif  %}
<form method="post">
        {%csrf_token%}
        <label>Current Password</label>
        <input type="password" name="current_password" required><br>
        <label>New Password</label>
        <input type="password" name="new_password" required><br>
        <input type="password" name="Change_Password" required><br>
        <input type="submit" value="Change Password"><br>
    </form>
    </body>
    </html>
