<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>FORGOT PASSWORD</center></h1>
    {% if messages %}
    {% for message in messages %}
    <div>{{message}}</div>
    {% endfor %}
    {% endif  %}
    <form method="post">
        {%csrf_token%}
        <label>Enter your registered email</label>
        <input type="email" name="email" required><br>
        <input type="submit" value="Send OTP"><br>
    </form>
</body>
</html>