<table border="1">
    <tr>
        <th>SI.No</th>
        <th>Username</th>
        <th>Email</th>
        <th>Name</th>
        <th>Phone No</th>
        <th>License No</th>
        <th>Address</th>
        <th>Joined date</th>
        <th>Last login</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{user.Name}}</td>
        <td>{{ user.Phone_no }}</td>
        <td>{{ user.License_no }}</td>
        <td>{{ user.Address }}</td>
        <td>{{user.last_login}}</td>
        <td>{{user.date_joined}}</td>
        <td> 
            {% if user.is_active %}
            <button><a href="{% url 'deactivate_user' user.id %}">Deactivate user</a></button>
            {% else %}
           <button><a href="{% url 'activate_user' user.id %}">activate user</a></button>
              {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>